__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
*.log
cloudflared-windows-amd64.exe
session_token.json
*.flag
model.pkl
dataset/
*.pkl
test.py
testing.py
explore.py
backup.py
train_model.py
uploads/
.env
__pycache__/
*.pyc
*.pkl
*.pt
uploads/